.idea/
vendor/
node_modules/
api/database/bulks
static/media
package-lock.json
npm-debug.log
yarn-error.log
static/dist/
*.iml
webpack-assets.json
webpack-stats.json
.happypack/
webpack/dlls/*.json
api/**/*.nedb
*.report.html
coverage/
api/video.mp4
api/data/classifier-es.json
api/data/classifier.json
api/config-local.js
