doctype html
html
  body(style='color: #333332; margin: 0;font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, Ubuntu, \'Open Sans\', \'Helvetica Neue\', sans-serif;font-size: 1.2em;background-color: #FFFFFF;')
    header.text-center(style='padding: 1em;background-color: #E8F3EC;margin-bottom: 1em;text-align: center;')
      img(style="padding-bottom: 30px; padding-top: 25px;", src=logo width=200)
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Hi, #{name}
      p(style="color: #34495E;")
        | Your email has been verified. We can now send you a link to reset your password if you ever need it.
