doctype html
html
  body(style='color: #333332; margin: 0;font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, Ubuntu, \'Open Sans\', \'Helvetica Neue\', sans-serif;font-size: 1.2em;background-color: #FFFFFF;')
    header.text-center(style='padding: 1em;background-color: #E8F3EC;margin-bottom: 1em;text-align: center;')
      img(style="padding-bottom: 30px; padding-top: 25px;", src=logo width=200)
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Hi, #{name}
      p Your password was just reset.
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') If you didn't request this change please
      p.text-small(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;')
        a(style="color: #8e8e8e; text-decoration: underline;", href='mailto:' + returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.') let us know
